.ticketCart {
	max-width: 70rem;
	margin: 0 auto 2.4rem;
	padding: 2rem;
	overflow: hidden;
	position: relative;

	&__info {
		display: flex;
		gap: 2rem;
		margin-bottom: 2rem;

		&--gate,
		&--seat {
			color: #d6336c;
		}

		&--passengerName,
		&--gate,
		&--seat {
			display: flex;
			flex-direction: column;
			font-size: 2.2rem;

			& span {
				margin-bottom: 1rem;
				font-size: 1.8rem;
				color: #777;
			}
		}

		&--passengerName {
			flex-grow: 2;
		}
	}

	&__btn {
		display: block;
		width: 100%;

		&--group {
			display: flex;
			gap: 1.2rem;

			@media only screen and (max-width: 28.125em) {
				flex-direction: column;
			}
		}
	}

	&__overtime {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&--text {
			font-size: 2.4rem;
			margin-bottom: 2.4rem;
			color: #fff;
		}

		&--btn {
			padding: 1rem 2rem;
			border: 3px solid #d6336c;
			border-radius: 11px;
			background-color: #d6336c;
			color: #fff;
			cursor: pointer;
			transition: all 0.3s;
			font-size: 2rem;

			&:hover {
				background-color: transparent;
			}
		}
	}
}
