.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 4;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40vw;
	background-color: #fff;
	z-index: 5;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: 62.5em) {
		width: 60vw;
	}

	@media only screen and (max-width: 43.75em) {
		width: 80vw;
	}

	&__header {
		padding: 1.6rem 2rem;
		background-color: #d6336c;
		& h2 {
			font-size: 3.2rem;
			color: #fff;
		}
	}

	&__main {
		padding: 2rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 2rem;
	}

	&__flight,
	&__date,
	&__from,
	&__to,
	&__boardingTime,
	&__class {
		display: flex;
		align-items: center;
		font-size: 2.4rem;
		font-weight: 700;

		@media only screen and (max-width: 31.25em) {
			flex-direction: column;
			align-items: flex-start;
		}

		& span {
			font-size: 1.6rem;
			margin-right: 1.2rem;
			font-weight: 400;

			@media only screen and (max-width: 31.25em) {
				margin-right: 0rem;
				margin-bottom: 1.2rem;
			}
		}
	}

	&__gate,
	&__seat {
		display: flex;
		align-items: center;
		font-size: 3.2rem;
		font-weight: 700;
		color: #d6336c;

		@media only screen and (max-width: 31.25em) {
			flex-direction: column;
			align-items: flex-start;
		}

		& span {
			font-size: 1.6rem;
			margin-right: 1.2rem;
			font-weight: 400;
			color: #333;

			@media only screen and (max-width: 31.25em) {
				margin-right: 0rem;
				margin-bottom: 1.2rem;
			}
		}
	}

	&__footer {
		border-top: 2px solid #ddd;
		margin-top: auto;
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__btn {
		padding: 1rem 2rem;
		border: 3px solid #d6336c;
		border-radius: 11px;
		background-color: #d6336c;
		color: #fff;
		font-size: 2rem;
		cursor: pointer;
		box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
		transition: all 0.3s;

		&:not(:last-child) {
			margin-right: 1.2rem;
		}

		&:hover {
			background-color: #fff;
			color: #d6336c;
		}
	}

	&__icon {
		&--success,
		&--error {
			margin-right: 1.2rem;
			height: 3.2rem;
			width: 3.2rem;
		}

		&--success {
			color: #51cf66;
		}

		&--error {
			color: #fa5252;
		}
	}
}
