.section-tickets {
	background-color: #d6336c;
	width: 100%;
	height: 100vh;
	padding: 12.8rem 3.2rem 9.6rem;
}

.tickets {
	max-width: 80rem;
	background-color: #fff;
	margin: 0 auto;
	height: 80vh;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: 53.125em) {
		max-width: 100rem;
	}

	&__box {
		overflow-y: scroll;
		padding: 2.4rem 0;

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-track {
			background: #fff;
			border-radius: 150px;
		}

		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 150px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}
}
