.tickets {
	&__nav {
		height: 7rem;
		border-bottom: 2px solid #ddd;

		@media only screen and (max-width: 43.75em) {
			height: auto;
		}

		& form {
			height: 100%;
			display: flex;
			justify-content: flex-end;

			@media only screen and (max-width: 43.75em) {
				flex-direction: column;
			}
		}
	}

	&__input {
		padding: 0 1.6rem;
		height: 100%;
		border-right: 2px solid #ddd;
		display: flex;

		@media only screen and (max-width: 43.75em) {
			border-right: none;
			border-bottom: 2px solid #ddd;
			padding: 1.6rem 1.6rem;
		}

		& label {
			margin-right: 1.2rem;
			font-size: 1.6rem;
			text-transform: uppercase;
			font-weight: 700;
			color: #d6336c;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& input {
			display: inline-block;
			height: 100%;
			border: none;
			font-size: 1.6rem;
			font-family: inherit;

			@media only screen and (max-width: 43.75em) {
				width: 100%;
			}

			&:focus {
				outline: none;
			}
		}
	}

	&__select {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.6rem;
		border-color: #d6336c;
		width: 100%;

		@media only screen and (max-width: 43.75em) {
			display: block;
		}
	}

	&__btn {
		&--box {
		}

		&--reset,
		&--search {
			padding: 1.2rem;
			border: none;
			background: none;
			color: #d6336c;
			cursor: pointer;
			transition: all 0.3s;
			// height: 100%;

			&:hover {
				background-color: #d6336c;
				color: #fff;
			}
		}

		&--search {
			border-right: 2px solid #ddd;

			@media only screen and (max-width: 43.75em) {
				border-right: none;
				border-bottom: 2px solid #ddd;
			}
		}
	}

	&__icon {
		width: 3.2rem;
		height: 3.2rem;
		stroke: #d6336c;
	}
}
