.map {
	&__marker {
		border: none;
		background: none;
		transition: all 0.2s;
		position: relative;

		&:hover {
			color: #d6336c;
		}

		& span {
			display: none;
			padding: 0.6rem 1.2rem;
			font-size: 2rem;
			background-color: #d6336c;
			border-radius: 150px;
			color: #fff;
			position: absolute;
			top: -4.4rem;
			left: 0;
			transform: translateX(-50%);
		}
	}

	&__marker:hover {
		& span {
			display: block;
		}
	}

	&__icon {
		height: 4.2rem;
		width: 4.2rem;
		rotate: 45deg;
	}
}
