.section-cooperate {
	padding: 9.6rem 0;
	background-color: #eee;
}

.cooperate {
	&__box {
		padding: 0 3.2rem;

		& h3 {
			text-align: center;
			color: #777;
			font-size: 2rem;
		}
	}

	&__img-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 3.2rem;

		& img {
			height: 8rem;
			margin-bottom: 1.2rem;

			&:not(:last-child) {
				margin-right: 3.6rem;

				@media only screen and (max-width: 28.125em) {
					margin-right: 0;
				}
			}
		}
	}
}
