.payment {
	&__form {
		&--Group {
			margin: 2rem 0;
			padding: 0;
			border-style: none;
			background-color: #fff;
			will-change: opacity, transform;
			box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06),
				0 2px 5px rgba(0, 0, 0, 0.08);
			border-radius: 4px;
		}

		&--Row {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
		}

		&--BtnGroup {
			display: flex;
			gap: 1.2rem;

			& button {
				display: block;
				width: 100%;
			}
		}
	}
}
