/*
--- 01 TYPOGRAPHY SYSTEM
    -font weight: 
      Default: 400
      medium: 500
      semi-bold: 600
      bold: 700
    -line height:
      Default: 1
      small: 1.05
      medium: 1.2
      paragraph default: 1.6
    -letter spacing:
	    0.5
	    0.75
    -FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
--- 02 COLOR
      -Primary: #f06595
      -Tints: #fcc2d7
      -Shades: #d6336c
      -Accents:
--- 03 SHADOWS
--- 04 BORDER-RADIUS
      -default: 9px
      -medium: 11px
--- 05 WHITESPACE
      -SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Satisfy&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;

	@media only screen and (max-width: 68.75em) {
		font-size: 56.25%;
	}
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1;
	overflow: hidden;
}

// font size
.heading {
	&__primary,
	&__secondary,
	&__tertiary {
		font-weight: 700;
		letter-spacing: -0.5px;
		color: #333;
	}

	&__primary {
		font-size: 5.2rem;
		line-height: 1.05;
		margin-bottom: 1.6rem;
	}

	&__secondary {
		font-size: 4.4rem;
		line-height: 1.2;
		margin-bottom: 9.6rem;
	}

	&__tertiary {
		font-size: 3rem;
		line-height: 1.2;
		margin-bottom: 3.2rem;
	}
}

.subheading {
	display: block;
	font-weight: 500;
	font-size: 1.4rem;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	color: #d6336c;
}

// button
.btn {
	display: block;
	padding: 1rem 2rem;
	border-radius: 11px;
	font-size: 2rem;
	background: none;
	border: none;
	cursor: pointer;

	&--form {
		border: 3px solid #d6336c;
		background-color: #d6336c;
		color: #fff;
		transition: all 0.3s;
		margin-left: auto;

		&:hover {
			background-color: #fff;
			color: #d6336c;
		}

		&:disabled {
			background-color: #ccc;
			border: 3px solid #ccc;

			&:hover {
				background-color: #ccc;
				color: #fff;
				cursor: not-allowed;
			}
		}
	}
}

// error text
.error-text {
	margin-bottom: 1.2rem;
	font-size: 1.6rem;
	text-align: center;
	color: #f03e3e;
}

// centered
.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

// line break
.line-break {
	display: flex;
	flex-direction: row;
	margin-bottom: 2.4rem;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #d6336c;

	&::before,
	&::after {
		content: '';
		flex: 1 1;
		border-bottom: 2px solid #d6336c;
		margin: auto;
	}

	&:before {
		margin-right: 1rem;
	}

	&:after {
		margin-left: 1rem;
	}
}

// toast
.toast {
	font-size: 2rem;
}

// empty text
.empty-text {
	text-align: center;
	font-size: 3.2rem;
}
