.step {
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 50vw;
		margin: 0 auto 6.4rem;
		list-style: none;

		@media only screen and (max-width: 62.5em) {
			max-width: 70vw;
		}
	}

	&__item {
		font-size: 2rem;
		display: flex;
		align-items: center;

		@media only screen and (max-width: 46.875em) {
			flex-direction: column;
		}

		&--number {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 5rem;
			height: 5rem;
			margin-right: 2rem;
			border-radius: 50%;
			border: 3px solid #d6336c;
			color: #d6336c;
			font-size: 2.4rem;

			@media only screen and (max-width: 46.875em) {
				margin-right: 0;
				margin-bottom: 1.2rem;
			}
		}

		&--number-fill {
			background-color: #d6336c;
			color: #fff;
		}
	}

	&__arrow {
		font-size: 2.4rem;

		&:last-child {
			display: none;
		}
	}
}
