.section-buy {
	display: flex;
	height: 40rem;

	@media only screen and (max-width: 40.625em) {
		flex-direction: column;
	}
}

@keyframes arrowRight {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: 1rem;
	}
}

.buy {
	&__text-box {
		padding: 4rem;
		width: 50%;
		background-color: #eee;

		@media only screen and (max-width: 40.625em) {
			width: 100%;
		}

		& h2 {
			margin-bottom: 3.2rem;
			color: #f06595;
		}
	}

	&__text {
		font-size: 2rem;
		margin-bottom: 2.4rem;
		line-height: 1.5;
	}

	&__link {
		&:link,
		&:visited {
			font-size: 2rem;
			text-decoration: none;
			color: #f06595;
		}

		&:hover,
		&:active {
			span {
				animation: arrowRight 0.8s infinite;
			}
		}
	}

	&__img-box {
		background-image: linear-gradient(
				rgb(250, 162, 193, 0.5),
				rgb(250, 162, 193, 0.5)
			),
			url('../../../img/buy.webp');
		background-size: cover;
		background-position: center;
		width: 50%;

		@media only screen and (max-width: 40.625em) {
			width: 100%;
			height: 100%;
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
